:root {
  --bg-main: hsl(0, 0%, 25%);
  --bg-alt: hsl(0, 0%, 22%);
  --fg-main: hsl(0, 0%, 80%);
  --fg-alt: hsl(0, 0%, 40%);

  --red: hsl(10, 80%, 50%);
  --green: hsl(95, 82%, 35%);
  --blue: hsl(225, 78%, 50%);
  --white: hsl(40, 100%, 92%);
  --black: hsl(0, 0%, 8%);
  --wild: hsl(0, 0%, 50%);
}
