:root {
  --bg-main: hsl(40, 18%, 80%);
  --bg-light: hsl(40, 18%, 85%);
  --fg-light: hsl(40, 10%, 45%);

  --red: hsl(0, 80%, 50%);
  --green: hsl(120, 82%, 35%);
  --blue: hsl(240, 78%, 50%);
  --white: hsl(40, 100%, 92%);
  --black: hsl(40, 90%, 8%);
  --wild: hsl(40, 5%, 65%);
}
