:root {
  --bg-main: hsl(0, 0%, 80%);
  --bg-alt: hsl(0, 0%, 85%);
  --fg-main: hsl(0, 0%, 45%);
  --fg-alt: hsl(0, 0%, 55%);

  --red: hsl(0, 80%, 50%);
  --green: hsl(120, 82%, 35%);
  --blue: hsl(240, 78%, 50%);
  --white: hsl(40, 0%, 92%);
  --black: hsl(40, 0%, 8%);
  --wild: hsl(40, 0%, 65%);
}
