/* The default 'Rio Grande' colour scheme */
:root {
  --bg-main: hsl(40, 18%, 80%);
  --bg-alt: hsl(40, 18%, 85%);
  --fg-main: hsl(40, 10%, 25%);
  --fg-alt: hsl(40, 10%, 55%);

  --red: hsl(0, 80%, 50%);
  --green: hsl(120, 82%, 35%);
  --blue: hsl(240, 78%, 50%);
  --white: hsl(40, 100%, 92%);
  --black: hsl(0, 90%, 8%);
  --wild: hsl(0, 5%, 65%);
}

body {
  background-color: var(--bg-main);
  color: var(--fg-main);
  font-family: 'Inconsolata', monospace;
  padding: 0;
}

section {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: space-evenly;
}

/* Styles for UI */
.control-panel {
  width: 30rem;
}

h1, h2, h3 {
  margin-top: 1.75rem;
  margin-bottom: .85rem;
}
h1 { font-size: 1.5rem; }
h2 { font-size: 1.25rem; }
h3 { font-size: 1.2rem; }

input,
textarea,
button,
select {
  background-color: var(--bg-alt);
  color: var(--fg-main);
  font-family: 'Inconsolata', monospace;
  font-size: 1rem;
  margin-bottom: .5rem;
  padding: .35rem .5rem;
}

input,
textarea,
select {
  border: 0;
}

button {
  border: 1px solid var(--fg-alt);
  border-radius: 4px;
}

button:disabled,
.future {
  color: var(--fg-main);
}

ul {
  width: 16rem;
  margin-bottom: .5rem;
}

li {
  display: flex;
  justify-content: space-between;
  padding-left: 6px;
  padding-right: 6px;
  border-radius: 4px;
}

li:nth-child(even) { 
  background-color: var(--bg-alt);
}


/* Styles for board display */

svg {
  height: 100%;
  /* transform: perspective(800px) rotateX(10deg); */
  align-self: start;
}
svg line {
  stroke: var(--fg-alt);
  stroke-width: 2;
}
svg polygon {
  fill: var(--bg-alt);
}
svg text {
  fill: var(--fg-main);
}

.r {  fill: var(--red);
      background-color: var(--red); }
.g {  fill: var(--green);
      background-color: var(--green); }
.b {  fill: var(--blue);
      background-color: var(--blue); }
.w {  fill: var(--white);
      background-color: var(--white); }
.k {  fill: var(--black);
      background-color: var(--black); }
.z {  fill: var(--wild);
      background-color: var(--wild); }

.pick-container {
  display: inline-block;
  vertical-align: text-bottom;
}
.pick {
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--bg-main);
  width: 2rem;
  height: 2rem;
  border-radius: 1rem;
}
.pick.w {
  color: var(--fg-main);
}

.picks {
  display: inline-block;
  height: 2rem;
}
