:root {
  --bg-main: hsl(40, 18%, 80%);
  --bg-light: hsl(40, 18%, 85%);
  --fg-light: hsl(40, 10%, 45%);

  --red: hsl(0, 80%, 50%);
  --green: hsl(120, 82%, 35%);
  --blue: hsl(240, 78%, 50%);
  --white: hsl(40, 100%, 92%);
  --black: hsl(40, 90%, 8%);
  --wild: hsl(40, 5%, 65%);
}

body {
  background-color: var(--bg-main);
  color: var(--black);
  font-family: 'Courier Prime', monospace;
  padding: 0;
}

section {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: space-evenly;
}

/* Styles for UI */
.control-panel {
  width: 30rem;
}

h1 {
  font-size: 1.5rem;
  margin-top: 2rem;
  margin-bottom: 1rem;
}

h2 {
  font-size: 1.25rem;
  margin-bottom: 1rem;
}

input,
textarea,
button {
  background-color: var(--bg-light);
  color: var(--black);
  font-family: 'Courier Prime', monospace;
  font-size: 1rem;
  margin-bottom: .5rem;
  padding: .35rem .5rem;
}

input,
textarea {
  border: 0;
}

button {
  border: 1px solid var(--fg-light);
  border-radius: 4px;
}

button:disabled,
.future {
  color: var(--fg-light);
}

ul {
  width: 16rem;
  margin-bottom: .5rem;
}

li {
  display: flex;
  justify-content: space-between;
  padding-left: 6px;
  padding-right: 6px;
  border-radius: 4px;
}

li:nth-child(even) { 
  background-color: var(--bg-light);
}


/* Styles for board display */

svg {
  height: 100%;
  /* transform: perspective(800px) rotateX(10deg); */
  align-self: start;
}
svg line {
  stroke: var(--fg-light);
  stroke-width: 2;
}
svg polygon {
  fill: var(--bg-light);
}
svg text {
  fill: var(--black);
}

.r { fill: var(--red); }
.g { fill: var(--green); }
.b { fill: var(--blue); }
.w { fill: var(--white); }
.k { fill: var(--black); }
.z { fill: var(--wild); }
