body {
  background-color: #ccc;
  color: #333;
  font-family: 'Courier Prime', monospace;
  font-weight: 400;

  padding: 0;
}

section {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

h1 {
  font-size: 1.5rem;
}

div {
  text-align: right
}

.future {
  color: #999;
}

svg {
  height: 100%;
  /* transform: perspective(800px) rotateX(10deg); */
  align-self: start;
}
svg line {
  stroke: #666;
  stroke-width: 2;
}
svg polygon {
  fill: #ddd;
}

.r { fill: red; }
.g { fill: green; }
.b { fill: blue; }
.w { fill: white; }
.k { fill: black; }
.z { fill: grey; }

