<!DOCTYPE html>
<html lang="en">

<head>
  <title>Lyngk</title>

  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  
  <link rel='stylesheet' href="css/reset.css">
  <link href="https://fonts.googleapis.com/css?family=Courier+Prime&display=swap" rel='stylesheet'>
  <link rel='stylesheet' href="css/styles.css">
</head>

<body>
  <section id='vue'>
    <link v-if='colorScheme === "rioGrande"' rel='stylesheet' href="css/color-rio-grande.css">
    <link v-if='colorScheme === "neutral"' rel='stylesheet' href="css/color-neutral.css">
    <link v-if='colorScheme === "code"' rel='stylesheet' href="css/color-code.css">

    <div class='control-panel'>
      <h1>LYNGK Replay Tool</h1>

      <button>
        <span v-if='showInput' v-on:click='showInput = !showInput'>Go To Playback Mode</span>
        <span v-if='!showInput' v-on:click='showInput = !showInput'>Go To Record/Edit Mode</span>
      </button>
      <br><br>

      <!-- Record/Edit Mode -->
      <div v-if='showInput'>
        <label>Initial board state</label><br>
        <input type='text' size='52' v-model='boardInput' v-on:change='updateInputs'><br>

        <label>First Mover</label><br>
        <input type='text' size='16' maxlength='16' v-model='p1'><br>

        <label>Second Mover</label><br>
        <input type='text' size='16' maxlength='16' v-model='p2'><br>

        <label>Move History</label><br>
        <textarea cols='8' rows='32' v-model='moveInput' v-on:change='updateInputs' @keyup.enter.prevent='updateInputs'></textarea><br>

        <label>Color Scheme</label><br>
        <select v-model="colorScheme" v-on:change='updateInputs'>
          <option value="rioGrande">Rio Grande</option>
          <option value="neutral">Neutral</option>
          <option value="code">Don't try this one, you'll regret it. I already regret making it</option>
        </select><br>
      </div>

      <!-- Playback Mode -->
      <div v-if='!showInput'>
        <h2>Players</h2>

        <h3>{{ p1 }}</h3>
        <span>picks:</span>
        <div v-for='pick in p1Picks' class='pick-container'>
          <div class='pick' :class='pick'>{{ pick }}</div>
        </div><br>
        <span>stacks: {{ p1Stacks.length }}</span>

        <h3>{{ p2 }}</h3>
        <span>picks:</span>
        <div v-for='pick in p2Picks' class='pick-container'>
          <div class='pick' :class='pick'>{{ pick }}</div>
        </div><br>
        <span>stacks: {{ p2Stacks.length }}</span>

        <h2>Moves</h2>
        <ul>
          <li v-for='(move, i) in moveHistory'>
            <span v-if='i % 2 === 0'>{{ p1 }}</span>
            <span v-if='i % 2 === 1'>{{ p2 }}</span>
            <span>{{ move }}</span>
          </li>
          <li>👀</li>
          <li v-for='(move, i) in moveFuture' class='future'>
            <span v-if='(i + moveHistory.length) % 2 === 0'>{{ p1 }}</span>
            <span v-if='(i + moveHistory.length) % 2 === 1'>{{ p2 }}</span>
            <span>{{ move }}</span>
          </li>
        </ul>

        <button v-on:click='stepBack' :disabled='moveHistory.length < 1'>Step Back</button>
        <button v-on:click='goToStart' :disabled='moveHistory.length < 1'>Start</button><br>

        <button v-on:click='stepForward' :disabled='moveFuture.length < 1'>Step Forward</button>
        <button v-on:click='goToEnd' :disabled='moveFuture.length < 1'>End</button><br>
      </div>
    </div>

    <svg viewbox='0 0 800 893' height='893' xmlns='http://www.w3.org/2000/svg'>
      <!-- y values are sin(60) * 100 * n -->

      <text x='1' y='086.6'>A1</text><text x='777' y='086.6'>A1</text>
      <text x='1' y='173.2'>B1</text><text x='777' y='173.2'>B4</text>
      <text x='1' y='259.8'>C1</text><text x='777' y='259.8'>C7</text>
      <text x='1' y='346.4'>D1</text><text x='777' y='346.4'>D6</text>
      <text x='1' y='433.0'>E1</text><text x='777' y='433.0'>E7</text>
      <text x='1' y='519.6'>F1</text><text x='777' y='519.6'>F6</text>
      <text x='1' y='606.2'>G1</text><text x='777' y='606.2'>G7</text>
      <text x='1' y='692.8'>H1</text><text x='777' y='692.8'>H4</text>
      <text x='1' y='779.4'>I1</text><text x='777' y='779.4'>I1</text>

      <polygon
        points='400,86.6 450,173.2 550,173.2 600,259.8 700,259.8 650,346.4 700,433.0, 650,519.6 700,606.2 600,606.2 550,692.8 450,692.8
              400,779.4 350,692.8 250,692.8 200,606.2 100,606.2 150,519.6, 100,433.0 150,346.4 100,259.8 200,259.8 250,173.2 350,173.2'
      />

      <line x1='250' y1='173.2' x2='550' y2='173.2'/><!-- b -->
      <line x1='100' y1='259.8' x2='700' y2='259.8'/><!-- c -->
      <line x1='150' y1='346.4' x2='650' y2='346.4'/><!-- d -->
      <line x1='100' y1='433.0' x2='700' y2='433.0'/><!-- e -->
      <line x1='150' y1='519.6' x2='650' y2='519.6'/><!-- f -->
      <line x1='100' y1='606.2' x2='700' y2='606.2'/><!-- g -->
      <line x1='250' y1='692.8' x2='550' y2='692.8'/><!-- h -->
      

      <line x1='400' y1='086.6' x2='700' y2='606.2'/><!-- a1 \ g7 -->
      <line x1='250' y1='173.2' x2='550' y2='692.8'/><!-- b1 \ h4 -->
      <line x1='350' y1='173.2' x2='600' y2='606.2'/><!-- b2 \ g6 -->
      <line x1='550' y1='173.2' x2='700' y2='433.0'/><!-- b4 \ e7 -->
      <line x1='100' y1='259.8' x2='400' y2='779.4'/><!-- c1 \ i1 -->
      <line x1='200' y1='259.8' x2='450' y2='692.8'/><!-- c2 \ h3 -->
      <line x1='100' y1='433.0' x2='250' y2='692.8'/><!-- e1 \ h1 -->

      <line x1='400' y1='086.6' x2='100' y2='606.2'/><!-- a1 / g1 -->
      <line x1='250' y1='173.2' x2='100' y2='433.0'/><!-- b1 / e1 -->
      <line x1='450' y1='173.2' x2='200' y2='606.2'/><!-- b3 / g2 -->
      <line x1='550' y1='173.2' x2='250' y2='692.8'/><!-- b4 / h1 -->
      <line x1='600' y1='259.8' x2='350' y2='692.8'/><!-- c6 / h2 -->
      <line x1='700' y1='259.8' x2='400' y2='779.4'/><!-- c7 / i1 -->
      <line x1='700' y1='433.0' x2='550' y2='692.8'/><!-- e7 / h4 -->

      <template v-for='stack in boardPlayState'>
        <circle
          v-for='piece in stack'
          :cx='piece.x'
          :cy='piece.y'
          r='35'
          :class='piece.colour'/>
      </template>
    </svg>
  </section>
</body>

<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/vue"></script>
<script type="text/javascript" src="js/index.vue.js"></script>

</html>